<h3 class="text-center">Find your Restaurant</h3>
<form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
  <div
    class="text-center d-flex gap-3 flex-row flex-wrap justify-content-center align-items-center"
  >
    <label id="name">Search</label>
    <input formControlName="search" name="search" id="search" type="search" />
    <button class="button px-4 py-2" type="submit">Search</button>
  </div>
  <div>
    <ul
      class="d-flex flex-row flex-wrap justify-content-center align-items-center col-gap-2 mt-5"
    >
      <li
        *ngIf="restaurantFilters.isOpen !== undefined"
        class="form-check d-flex flex-row justify-content-around col-2-fx selection-container"
      >
        <input
          formControlName="isOpen"
          type="checkbox"
          name="opened"
          id="is-open"
        />
        <label for="is-open" class="form-check-label">open</label>
      </li>

      <li
        *ngFor="let option of objectKeys(restaurantFilters.filterOptions)"
        (click)="toggleOptionsMenu(option)"
        class="d-flex flex-row justify-content-around col-2-fx selection-container"
      >
        <div class="col-2-fx text-center">
          <div
            class="d-flex width-full justify-content-center align-items-center"
          >
            <p class="no-wrap">{{ option | camelCaseToWords }}</p>
            <i class="material-icons">keyboard_arrow_down</i>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div
    *ngIf="isOptionsOpened && selectedOption"
    class="position-absolute bottom-offset options-container"
  >
    <div class="options-list" formGroupName="filterOptions">
      <ul class="d-flex col-gap-3 flex-wrap" [formArrayName]="selectedOption">
        <li
          *ngFor="
            let item of restaurantFilters.filterOptions[selectedOption];
            let i = index
          "
          class="d-flex options-item-gap col-3-fx"
        >
          <input
            [formControlName]="i"
            type="checkbox"
            name="{{ item }}"
            id="{{ item }}"
          />
          <label for="{{ item }}" class="form-check-label">{{ item }}</label>
        </li>
      </ul>
    </div>
  </div>
</form>
