:host {
  width: 100%;
}

.selection-container {
  background-color: rgb(208, 208, 208);
  padding: 2px;
  border-radius: 3px;
  transition: 1s border-radius, 2s background-color;
}

.selection-container:hover {
  border-radius: 10px;
  background-color: rgb(245, 205, 220);
}

.selection-container:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.col-2-fx {
  width: 100%;
  flex-basis: 16.6%;
}
.col-gap-2 {
  gap: 1.6%;
}
