<div>
  <div>name</div>
  <div>
    <p>telefon</p>
    <p>adress</p>
    <button>book</button>
    <button>book a banquet</button>
  </div>
</div>
<div>
  <h4>Information</h4>
  <button>to favorite</button>
</div>
<div class="scrollbar-imgs">
  //for each
  <img src="#" alt="" />
</div>
<div>Description ....</div>
<div>
  <div>
    <h4>avarge price:</h4>
    <p>for each</p>
  </div>
  <div>
    <h4>Reason of visiting:</h4>
    <p>for each</p>
  </div>
  <div>
    <h4>cousin:</h4>
    <p>for each</p>
  </div>
</div>
<div>
  <h4>time of work:</h4>
  <div>days/time</div>
</div>
<div>
  <div>name</div>
  <div>map</div>
  <div>address</div>
  <button>book</button>
  <button>book a banquet</button>
</div>
<div>similar restaurants</div>

//for each
<app-comment></app-comment>
