:host .custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 20px auto; /* Центрирование с отступом сверху */
  background-color: #c8c8c8; /* Тёплый фиолетовый цвет */
  color: #000;
  border-radius: 12px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для глубины */
  max-width: 900px; /* Максимальная ширина для центрирования */
  flex-direction: column;
}
