:host .custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 20px auto; /* Центрирование с отступом сверху */
  color: #fff;
  border-radius: 12px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для глубины */
  max-width: 900px; /* Максимальная ширина для центрирования */
  flex-direction: column;
}

.col-3-result {
  width: 100%;
  flex-basis: 25%;
}

.col-3-gap-result {
  flex-gap: 12.5%;
}
