<div>
  <div>
    <label id="name">Search</label>
    <input name="search" id="search" type="search" />
    <button>Search</button>
  </div>
  <div>
    <div>
      <label for="opened">Opened</label>
      <input type="checkbox" name="opened" id="opened" />
    </div>
    <div>
      <ul>
        <li>type of cousine</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>price 1000-2000$</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>types of restaurant</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Specialties</li>
      </ul>
    </div>
  </div>
</div>
